<main>
  <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="mb-4 col-span-full xl:mb-2">
      <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
          <li class="inline-flex items-center">
            <a href="/gestionnaire" class="inline-flex items-center text-gray-700 hover:text-green-600 dark:text-gray-300 dark:hover:text-white">
              <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="/gestionnaire/list-promotions" class="ml-1 text-gray-700 hover:text-green-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Promotions</a>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">nouveau</span>
            </div>
          </li>
        </ol>
      </nav>
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Creation d'un Promotion</h1>
    </div>

    <div class="col-span-3">
      <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-semibold dark:text-white"> Information Generale</h3>
        <form  [formGroup]="promotionCreateForm" (submit)="handleCreatePromotion()" enctype="multipart/form-data">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <div class="mt-2">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom : </label>
                <input type="text" formControlName="name" name="name" id="name"
                       class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                       placeholder="le nom du produit" required>
              </div>
              <div >
                <div class=" ">
                    <div>
                      <label for="reduction" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Reduction : </label>
                      <input type="number" formControlName="reduction" name="reduction" id="reduction"
                             class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                             placeholder="le nom du produit" required>
                    </div>
                    </div>
                  <div class="flex items-center mb-4">
                    <input checked id="isPercent" formControlName="isPercent" type="checkbox" value="" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" >
                    <label for="isPercent" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">La reduction est en pourcentage.</label>
                  </div>
                </div>

            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Description</label>
              <textarea rows="6" formControlName="description" name="description" id="description"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                        placeholder="Ecrire un description ici"></textarea>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="startDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date de Debut : </label>
              <input type="datetime-local" formControlName="startDate" name="startDate" id="startDate"
                     class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                     placeholder="le nom du produit" required>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="endDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date de Fin : </label>
              <input type="datetime-local" formControlName="endDate" name="endDate" id="endDate"
                     class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                     placeholder="le nom du produit" required>
            </div>
            <div class="col-span-6 sm:col-span-6">
              <div class="mt-2">
                <label for="produitsId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Les Produits</label>
                <div class="flex justify-center items-center gap-4">
                  <div class=" w-full">
                    <select multiple formControlName="produitsId" name="produitsId" id="produitsId" required class="bg-gray-50 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                      <option>Select Produit</option>
                      @for (produit of produits;track produit.id){
                        <option class="px-6 py-4 font-semibold text-gray-900 dark:text-white" [value]="produit.id">{{produit.libelle}}</option>
                      }
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-span-6 sm:col-full flex justify-end">
              <button
                class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                type="submit">
                Enregistre la Promotion
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</main>
