<main>

  <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="mb-4 col-span-full xl:mb-2">
      <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
          <li class="inline-flex items-center">
            <a href="/gestionnaire" class="inline-flex items-center text-gray-700 hover:text-green-600 dark:text-gray-300 dark:hover:text-white">
              <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="/gestionnaire/list-produits" class="ml-1 text-gray-700 hover:text-green-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Ravitaillement</a>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">voir</span>
            </div>
          </li>
        </ol>
      </nav>
      <div class="flex justify-between gap-4 items-center ">
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Voir le Ravitaillement</h1>
        <div class="flex gap-4 items-center ">
          <button type="button" class="text-white inline-flex gap-2 items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
            modifier
          </button>
        </div>
      </div>
    </div>

    <div class="col-span-3">
      <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-semibold dark:text-white">Promo :  #{{ravitaillement?.id}}</h3>
        <hr>
        <div class="mt-4">
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Identifient</div>
              <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ravitaillement?.id}}</div>
            </div>
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Reduction</div>
              <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ravitaillement?.founisseur?.name }}</div>
            </div>
          </div>
          <div class="mb-6">
            <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Description</div>
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ravitaillement?.description}}</div>
          </div>

          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Date de Livraison</div>
              <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ravitaillement?.deliveredDate}}</div>
            </div>
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Date de creation </div>
              <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ravitaillement?.createDate}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class=" col-span-3 mb-4 relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
          <div class="flex justify-between items-center">
            <div>
              Les Produits Concernés
            </div>
            <button type="submit" data-modal-target="add-ligne-raviataillement" data-modal-toggle="add-ligne-raviataillement"
                    class="text-white inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
              <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
              </svg>
              Ajouter
            </button>
          </div>
          <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.</p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Nom du produit
          </th>
          <th scope="col" class="px-6 py-3">
            Categorie
          </th>
          <th scope="col" class="px-6 py-3">
            Prix Unitaire
          </th>
          <th scope="col" class="px-6 py-3">
            Quantite
          </th>
          <th scope="col" class="px-6 py-3">
            Prix total
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
        </thead>
        <tbody>
          @for (lr of ravitaillement?.ligneRavitaillements; track lr.id) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{lr.produit.libelle}}
              </th>
              <td class="px-6 py-4">
                {{ lr.produit.category.name}}
              </td>
              <td class="px-6 py-4">
                {{ lr.prixUnitaire }}
              </td>
              <td class="px-6 py-4">
                {{ lr.quantite }} {{lr.produit.unite}}
              </td>
              <td class="px-6 py-4">
                {{ getPrice(lr.id)}} XOF
              </td>

              <td class="px-6 py-4 text-right">
                <button type="button" (click)="retirerProduit(lr.id)" class="font-medium text-green-600 dark:text-green-500 hover:underline">Modifier</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

  </div>
</main>


<!-- Cretae Categorie Main modal -->
<div id="add-ligne-raviataillement" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-3xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Creer un Fournisseur
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="add-ligne-raviataillement">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form class="p-4 md:p-5" [formGroup]="addLigneRavitaillementForm" >

        <div class="grid gap-6 mb-6 ">
          <div class="flex justify-center items-center gap-4 w-full">
            <div class=" w-full">
              <label for="produitId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choisir le produit</label>
              <select formControlName="produitId" name="produitId" id="produitId" required class="bg-gray-50 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                <option>Select Etiquette</option>
                @for (produit of produits;track produit.id){
                  <option [value]="produit.id">{{produit.libelle}}</option>
                }
              </select>
            </div>
            <button type="button" >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
            </button>
          </div>
        </div>

        <div class="grid gap-6 mb-6 md:grid-cols-2">
          <div>
            <label for="quantite" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantite</label>
            <input type="number" id="quantite" formControlName="quantite"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                   placeholder="La quantite" required="">
          </div>
          <div>
            <label for="prixUnitaire" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prix Unitaire Obtenue</label>
            <input type="number" id="prixUnitaire" formControlName="prixUnitaire"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                   placeholder="Le prix Unitaire" required="">
          </div>
        </div>


        <div class="w-full flex justify-end items-center gap-4">
          <button type="submit" data-modal-toggle="add-ligne-raviataillement"
                  (click)="handleAddRavitaillement()"
                  class="text-white inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                    clip-rule="evenodd"></path>
            </svg>
            Sauvegarder
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


