<div id="main-content" class="relative w-full h-full  bg-gray-50  dark:bg-gray-900">
  <main>
    <div
      class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
      <div class="w-full mb-1">
        <div class="mb-4">
          <nav class="flex mb-5" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
              <li class="inline-flex items-center">
                <a href="/"
                   class="inline-flex items-center text-gray-700 hover:text-blue-600 dark:text-gray-300 dark:hover:text-white">
                  <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                  </svg>
                  Home
                </a>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                  </svg>
                  <a href="#"
                     class="ml-1 text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">E-commerce</a>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                  </svg>
                  <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">Facture</span>
                </div>
              </li>
            </ol>
          </nav>
          <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Enregistrer l'achat</h1>
        </div>

        <div>
          <div class="px-5  text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
              Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.
            </p>
            <form [formGroup]="createCommandeForm" class="mt-4" >

              <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div class=" w-full ">
                  <label for="clientId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choisir le Client</label>
                  <div class="flex items-center gap-4  ">
                    <select formControlName="clientId" name="clientId" id="clientId" required class="bg-gray-50 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                      @for (client of clients;track client.id){
                        <option [value]="client.id">{{client.name}}</option>
                      }
                    </select>
                    <button type="button" data-modal-target="create-client-modal" data-modal-toggle="create-client-modal" >
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                    </button>
                  </div>
                </div>
                <div>
                  <div class="mt-2">
                    <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Le Statut</label>
                    <select formControlName="status" name="status" id="status" required class="bg-gray-50 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                      <option [value]="CommandeStatutEnum.NEW">Nouveau</option>
                      <option [value]="CommandeStatutEnum.SHIPPED">Expédier</option>
                      <option [value]="CommandeStatutEnum.PROCESSED">Traite</option>
                      <option [value]="CommandeStatutEnum.DELIVERED">Livrer</option>
                      <option [value]="CommandeStatutEnum.CANCELED">Annuler</option>
                    </select>
                  </div>
                </div>

              </div>

              <div class="mb-6">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                <textarea id="description" formControlName="description" rows="4"
                          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          placeholder="La desciption "></textarea>
              </div>

            </form>
            @if (createCommandeForm.value.status !==CommandeStatutEnum.NEW){
              <form [formGroup]="createPaiementForm">
                <h3 class="text-xl">Les information du paiement</h3>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                  <div>
                    <div class="mt-2">
                      <label for="methode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">La Methode de paiement</label>
                      <select formControlName="methode" name="methode" id="methode" required class="bg-gray-50 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                        <option [value]="MethodePaiementEnum.ESPECE">Espèce</option>
                        <option [value]="MethodePaiementEnum.CARTE">Carte</option>
                        <option [value]="MethodePaiementEnum.MOBILE_MONEY">Mobile Money</option>
                      </select>
                    </div>
                  </div>
                  <div >
                    <label for="reference" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">La reference</label>
                    <input type="text" formControlName="reference" name="reference" id="reference"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                           placeholder="La reference " required>

                  </div>
                </div>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                  <div class=" w-full ">
                    <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Le Montant</label>
                    <input type="text" formControlName="amount" name="amount" id="amount"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                           placeholder="Le Montant " required>

                  </div>
                  <div>
                    <div class="mt-2">
                      <label for="PaiementStatus" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Le Statut</label>
                      <select formControlName="status" name="status" id="PaiementStatus" required class="bg-gray-50 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                        <option [value]="StatusPaiementEnum.PAYER">Payer</option>
                        <option [value]="StatusPaiementEnum.EN_ATTENTE">En Attente</option>
                        <option [value]="StatusPaiementEnum.CANCELED">Annuler</option>
                      </select>
                    </div>
                  </div>

                </div>
                <div class="mb-6">
                  <label for="comment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                  <textarea id="comment" formControlName="comment" rows="4"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="La desciption "></textarea>
                </div>
              </form>
            }
          </div>
        </div>

        <div>
          <div class="p-4 md:p-5 space-y-4">
            <div class="overflow-x-auto ">
              <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 ">

                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-6 py-3 ">
                    Nom du Produit
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Quantite
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Promotion
                  </th>
                  <th scope="col" class="px-6 py-3 rounded-e-lg">
                    Prix
                  </th>
                </tr>
                </thead>
                <tbody >

                  @for (cp of cartProduits.values();track cp.produit.id){
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                      <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white max-w-[14rem]">
                        <div>
                          {{cp.produit.libelle}}
                        </div>
                      </td>
                      <td class="px-6 py-4">
                        <div class="flex items-center">
                          <button (click)="decrementQuantite(cp.produit.id)" class="inline-flex items-center justify-center p-1 me-3 text-sm font-medium h-6 w-6 text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                            <span class="sr-only">Quantity button</span>
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                            </svg>
                          </button>
                          <div>
                            <input type="number"  (input)="onQuantiteChangeByInput($event,cp.produit.id)" [value]="getQuantite(cp.produit.id)" [min]="0" [max]="cp.produit.stock" class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0" required />
                          </div>
                          <button (click)="incrementQuantite(cp.produit.id)" class="inline-flex items-center justify-center h-6 w-6 p-1 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                            <span class="sr-only">Quantity button</span>
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                            </svg>
                          </button>
                        </div>
                      </td>
                      <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        <select  (change)="onChangePromotionListe($event,cp.produit.id)" name="promotionsActiveId" id="promotionsActiveId" required class="bg-gray-50 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                          <option value="0">Selectionner les promotions</option>
                          @for (promotion of cp.produit.promotions;track promotion.id){
                            <option [value]="promotion.id">{{promotion.name}}</option>
                          }
                        </select>
                      </td>
                      <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        {{getTotalPriceByProduct(cp.produit.id)}} XOF
                      </td>

                    </tr>
                  }

                </tbody>
                <tfoot>
                <tr class="font-bold text-gray-900 dark:text-white">
                  <th scope="row" class="px-6 py-3 text-base">Total</th>
                  <td class="px-6 py-3"></td>
                  <td class="px-6 py-3"></td>
                  <td class="px-6 py-3">{{getGobaleTotalPrice()}} XOF</td>
                </tr>
                </tfoot>
              </table>
            </div>


          </div>
          <div class="flex items-center justify-between p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
            <button  type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>
            <button  type="button" (click)="generateFacture()" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">generer facture</button>
            <button  (click)="EnregistreVente()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
          </div>

        </div>

      </div>
    </div>

  </main>
</div>




<!--  Create Tag Main modal  -->
<div id="create-client-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-3xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Creer un nouveau client
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="create-client-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->

      <form  [formGroup]="createClientForm" (submit)="handleCreateClient()" class="p-4 md:p-5" >
        <div >
          <div class="grid gap-6 mb-2 md:grid-cols-2">
            <div class="mt-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom Client</label>
              <input type="text" name="name" id="name"
                     formControlName="name" placeholder="Janne Doe"
                     class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                     required>
            </div>
            <div class="mt-2">
              <label for="clientPhone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero Client</label>
              <input type="tel"  name="clientPhone" id="clientPhone"
                     formControlName="phone" placeholder="70707070"
                     class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                     required>
            </div>
          </div>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div class="mt-2">
              <label for="clientAdresse" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Adresse Client</label>
              <input type="text" name="clientAdresse" id="clientAdresse"
                     formControlName="adress" placeholder="Bobo, rue 30-300 "
                     class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                     required>
            </div>
            <div class="mt-2">
              <label for="clientSolde" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Solde Client</label>
              <input type="number"  name="clientSolde" id="clientSolde"
                     formControlName="solde"
                     class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                     required>
            </div>
          </div>
        </div>

        <div class="w-full flex justify-end items-center gap-4">
          <button type="submit" data-modal-toggle="create-client-modal" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
            Sauvegarder
          </button>
        </div>
      </form>

    </div>
  </div>
</div>



