<main>

  <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="mb-4 col-span-full xl:mb-2">
      <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
          <li class="inline-flex items-center">
            <a href="/" class="inline-flex items-center text-gray-700 hover:text-green-600 dark:text-gray-300 dark:hover:text-white">
              <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="/list-commande" class="ml-1 text-gray-700 hover:text-green-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Commandes</a>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">voir</span>
            </div>
          </li>
        </ol>
      </nav>
      <div class="flex justify-between gap-4 items-center ">
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Information de la Vente</h1>
        <div class="flex gap-4 items-center ">
          <div>
            <button (click)="regenerFacture()" type="button" class="inline-flex gap-2 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m3.75 9v7.5m2.25-6.466a9.016 9.016 0 0 0-3.461-.203c-.536.072-.974.478-1.021 1.017a4.559 4.559 0 0 0-.018.402c0 .464.336.844.775.994l2.95 1.012c.44.15.775.53.775.994 0 .136-.006.27-.018.402-.047.539-.485.945-1.021 1.017a9.077 9.077 0 0 1-3.461-.203M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
              </svg>
              Re-generer la Facture
            </button>
          </div>
          <div>
            <button type="button" class="text-white inline-flex gap-2 items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
              </svg>
              modifier
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-3">
      <div
        class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-semibold dark:text-white">
          Commande : #{{ commande ? commande.id.toString().padStart(6, "0") : "" }}
        </h3>
        <hr>
        <div class="mt-4">
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Statut</div>
              <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                <app-statut-badge [statut]="commande?.status" [text]="commande?.status"/>
              </div>
            </div>
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Date de Creation</div>
              <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{commande?.createAt | date:"dd/MM/YYYY à H:m:s"}}</div>
            </div>
          </div>
          <div class="mb-6">
            <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Description</div>
            <div
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ commande?.description ?? "-" }}
            </div>
          </div>
          <div class="grid gap-6 mb-6 md:grid-cols-3">
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Le Montant</div>
              <div class="block mb-2 text-sm  text-blue-700 dark:text-white font-bold">
                @if (commande){ {{ticketService.getGobaleTotalPrice(commande.ligneCommandes) | thousandSeparator:" " }} XOF} @else {0 XOF}
              </div>
            </div>
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Montant Payer</div>
              <div class="block mb-2 text-sm font-medium text-green-500 dark:text-white">
                @if (commande){ {{ticketService.getMontantPayer(commande) | thousandSeparator:" " }} XOF} @else {0 XOF}
              </div>
            </div>
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Montant Restant</div>
              <div class="block mb-2 text-sm font-medium text-red-700 dark:text-white">
                @if (commande){ {{ticketService.getMontantRestant(commande) | thousandSeparator:" " }} XOF} @else {0 XOF}
              </div>
            </div>
          </div>
          @if (!isTotaliePayer){
            <div class="mb-6 ">
              <div class="w-full text-center flex justify-center">
                <button type="button"  data-modal-target="add-user-modal" data-modal-toggle="add-user-modal"  class="w-full text-white text-center justify-center inline-flex gap-2 items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>
                  Payer le Reste
                </button>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="col-span-3">
      <div
        class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-semibold dark:text-white">
          Information du Client
        </h3>
        <hr>
        <div class="mt-4">
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Nom & Prenom</div>
              <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{commande?.client?.name}}</div>
            </div>
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Solde</div>
              <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{commande?.client?.solde}} XOF</div>
            </div>
          </div>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Numero Tel</div>
              <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{commande?.client?.phone}}</div>
            </div>
            <div>
              <div class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">reference</div>
              <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{commande?.client?.adress}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-span-3">
      <div
        class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-semibold dark:text-white">
          La Liste des produits
        </h3>
        <hr>
        <div class="mt-4">
          <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3 rounded-s-lg">
                  Nom
                </th>
                <th scope="col" class="px-6 py-3">
                  Qty
                </th>
                <th scope="col" class="px-6 py-3 rounded-e-lg">
                  reduction
                </th>
                <th scope="col" class="px-6 py-3 rounded-e-lg">
                  Price
                </th>
              </tr>
              </thead>
              <tbody>
                @for (ligne of commande?.ligneCommandes;track ligne.id){
                  <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {{ligne.produit.libelle}}
                    </th>
                    <td class="px-6 py-4">
                      {{ligne.quantity}}
                    </td>
                    <td class="px-6 py-4">
                      {{ligne.promotion.isPercent ? ligne.promotion.reduction+'%' : ligne.promotion.reduction + ' XOF'}}
                    </td>
                    <td class="px-6 py-4">
                      {{ ticketService.getTotalPriceByProduct(ligne) | thousandSeparator  }} XOF
                    </td>
                  </tr>
                }
              </tbody>
              <tfoot>
              <tr class="font-semibold text-gray-900 dark:text-white">
                <th scope="row" class="px-6 py-3 text-base">Total</th>
                <td class="px-6 py-3"></td>
                <td class="px-6 py-3"></td>
                <td class="px-6 py-3">{{commande? ticketService.getGobaleTotalPrice(commande.ligneCommandes) : 0 }} XOF</td>
              </tr>
              </tfoot>
            </table>
          </div>

        </div>
        </div>
      </div>

    <div class="col-span-3">
      <div
        class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-semibold dark:text-white">
          La Liste des paiements
        </h3>
        <hr>
        <div class="mt-4">
          <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3 rounded-s-lg">
                  Methode
                </th>
                <th scope="col" class="px-6 py-3 rounded-s-lg">
                  Reference
                </th>
                <th scope="col" class="px-6 py-3">
                  statut
                </th>
                <th scope="col" class="px-6 py-3 rounded-e-lg">
                  montant
                </th>
              </tr>
              </thead>
              <tbody>
                @for (paie of commande?.paiements;track paie.id){
                  <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {{paie.methode}}
                    </th>
                    <td class="px-6 py-4">
                      {{paie.reference}}
                    </td>
                    <td class="px-6 py-4">
                      <app-statut-badge [statut]="paie.status" [text]="paie.status"></app-statut-badge>
                    </td>
                    <td class="px-6 py-4">
                      {{paie.amount}}
                    </td>
                  </tr>
                }
              </tbody>
              <tfoot>
              <tr class="font-semibold text-gray-900 dark:text-white">
                <th scope="row" class="px-6 py-3 text-base">Total</th>
                <td class="px-6 py-3"></td>
                <td class="px-6 py-3"></td>
                <td class="px-6 py-3">{{commande? totalePaiements(): 0 }} XOF</td>
              </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>
    </div>

  @if (!isTotaliePayer){
    <!-- Add User Modal -->
    <div class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full" id="add-user-modal">
      <div class="relative w-full h-full max-w-2xl px-4 md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-700">
            <h3 class="text-xl font-semibold dark:text-white">
              Enregistrer un Payement
            </h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white" data-modal-toggle="add-user-modal">
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-6 space-y-6">
            <form [formGroup]="createPaiementForm">
              <div >
                <h3 class="text-xl">Les information du paiement</h3>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                  <div>
                    <div class="mt-2">
                      <label for="methode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">La Methode de paiement</label>
                      <select formControlName="methode" name="methode" id="methode" required class="bg-gray-50 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                        <option [value]="MethodePaiementEnum.ESPECE">Espèce</option>
                        <option [value]="MethodePaiementEnum.CARTE">Carte</option>
                        <option [value]="MethodePaiementEnum.MOBILE_MONEY">Mobile Money</option>
                      </select>
                    </div>
                  </div>
                  <div >
                    <label for="reference" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">La reference</label>
                    <input type="text" formControlName="reference" name="reference" id="reference"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                           placeholder="La reference " required>

                  </div>
                </div>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                  <div class=" w-full ">
                    <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Le Montant</label>
                    <input type="number" formControlName="amount" name="amount" id="amount" [max]="commande? ticketService.getMontantRestant(commande) : 0"
                           class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                           placeholder="Le Montant " required>

                  </div>
                  <div>
                    <div class="mt-2">
                      <label for="PaiementStatus" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Le Statut</label>
                      <select formControlName="status" name="status" id="PaiementStatus" required class="bg-gray-50 border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                        <option [value]="StatusPaiementEnum.PAYER">Payer</option>
                        <option [value]="StatusPaiementEnum.EN_ATTENTE">En Attente</option>
                        <option [value]="StatusPaiementEnum.CANCELED">Annuler</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="mb-6">
                  <label for="comment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                  <textarea id="comment" formControlName="comment" rows="4"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="La desciption "></textarea>
                </div>
              </div>
              <!-- Modal footer -->
              <div class="items-center p-6 border-t border-gray-200 rounded-b dark:border-gray-700">
                <button (click)="CreatePaiement()" data-modal-toggle="add-user-modal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Add user</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  }
</main>


